<header id="top-header">
    <span class="sitename">
        <a href="/" title="Return to home page">New Motors</a>
    </span>
    <div>
        <a title="Click to login" href="/account/login">My Account</a>
    </div>
</header>