<header id="top-header">
    <div class="site-branding">
        <span class="sitename">
            <a href="/" title="Return to home page">New Motors</a>
        </span>
    </div>
    <div id="account-link ">
        <a title="Click to login" href="/account/login">My Account</a>
    </div>
</header>