
<div id="home-view">
    <div id="welcome-message">
        <h1>Welcome to CSE Motors</h1>
    </div>
    <div id="delorean-container">
        <div id="delorean-hero">
            <h2>DCM delorean</h2>
            <ul>
                <li>3 Cup holder</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <button class="cta-button">Own today</button>
        </div>
        <div id="delorean-hero-image">
            <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean car" class="delorean-car-image">
        </div>
    
        <div id="content-grid">
            <div id="review-section">
                <h2>DCM Delorean Review</h2>
                <ul>
                    <li>"So fast it's almost ike traveling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly" (5/5)</li>
                    <li>“The most futuristic ride of our day.” (4.5/5)</li>
                    <li>“80's livin and I love it!” (5/5)</li>
                </ul>
            </div>
            <div id="upgrades-section">
                <h2>Delorean Upgrades</h2>
                <div id="upgrade-grid">
                    <a href="#">
                        <div class="upgrade-item">
                            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                            <p>FlUX Capacitor</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="upgrade-item">
                            <img src="/images/upgrades/flame.jpg" alt="Flame Capacitor">
                            <p>Flame Capacitor</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="upgrade-item">
                            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                            <p>Bumper Sticker</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="upgrade-item">
                            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
                            <p>Hub Cap</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>